@charset "utf-8";

body {
    background-color: #f7f8fc;
}

/* header */

header {
    position: -webkit-sticky;
    position: sticky;
}


header nav.navbar-color {
  background-color: #175563;
  padding-bottom: 10px;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
}
header .center img.logo {
    width: 55px;
}
header .shuffle img {
    width: 35px;
}
header div.center{
    padding-top: 10px;
    display: block;
}
header .nav-links{
    display: inline;
    float: right;
}
header div.center span {
    font: 24px bold;
    color: #e0eae1;
    font-family: 'Komoda';
}

header .search button.btn-purple:hover{
    background-color: #b582e4;
}

.nav-links a:not(.dropdown-item), .center span {
  display: inline;
  margin-right: 20px; 
  text-decoration: none; 
}


/* search area */

div.search {
    margin-top: 75px;
    margin-left: 45px;
    margin-right: 45px;
}

div.search .input-group{
    width: 100%;
}


.nav-cont {
    margin-top: 50px;
    padding: 65px;
    background-color: white;
}

div.search form .btn-purple {
    background-color: #c6a9e1;
    color: #f7f8fc;
    font-size: 16px;
    border-radius: 0px 15px 15px 0px;
}

div.search form input.form-control {
    border-radius: 15px;
    border-color: #e3d7f1;
    font-size: 15px;
}


div.search img {
    width: 13px;
}

@media (max-width: 725px){
    div.search {
        margin-left: 30px;
        margin-right: 30px;
    }
}

div.titles a:not(.drop) {
    text-decoration: none;
    color: white; 
    background-color: #163d45; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 13px;
    margin-right: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

div.titles a:hover {
    background-color: #c4ace4;
    color: white; 
}

div.titles a:last-child {
    margin-right: 0; 
}
header {
    margin-bottom: 90px;
    z-index: 1;
}

hr.partition {
    margin-left: 50%;
    margin-top: 0px;
    margin-right: 50%;
    border-color: #c6a9e1;
}

/*footer*/

footer {
    background-color: #e1ebe2;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px 20px 0px 0px;
}

.logo-footer {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer div.row {
    margin-left: 20%;
    margin-top: 60px;
    margin-right: 20%;
}

footer img.amazon-logo {
    margin-top: 20px;
    width: 100px;
}

footer img.saraiva-logo {
    width: 150px;
}

.footer-ele {
    text-align: center;
}

img.logo-comp {
    width: 70px;
}

.footer-ele div.row {
    margin-left: 35%;
    margin-right: 35%;
}

.footer-ele p:last-child {
    margin-top: 20px;
}

.business-partner img.amazon-logo {
    margin-left: 25px;
}

body.login {
  background-color: #163d45;
}

.drop-nav {
  margin-top: -5px;
  color: white;
  padding-bottom: -5px;
}

.card-cont, .card-cont-sign {
  margin-top: 180px;
  width: 500px;
}

.card-cont-sign {
  margin-top: 160px;
}

.form {
    color: black;
}


@media (max-width: 768px){
    div.titles {
        margin-left: 5%;
    }
    div.titles div.row div {
        margin-top: 80px;
    }
    div.titles div.row {
        top: 40px;
        margin-top: 20px;
        position: absolute;
    }
    div.titles {
        margin-left: 70px;
    }
    header {
        margin-bottom: 100px;
    }
    .logo-footer {
        width: 20%;
    }
    footer {
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
    }
    .business-partner {
        margin-top: 20px;
    }
}

@media (min-width: 600px) and (max-width: 1000px){
    div.titles {
        margin-left: 110px;
    }
}


